<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{.Label | xmlEscape}}</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{.BinaryPath | xmlEscape}}</string>
        <string>serve</string>
        <string>--config</string>
        <string>{{.ConfigPath | xmlEscape}}</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{.WorkingDir | xmlEscape}}</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>{{.LogPath | xmlEscape}}</string>

    <key>StandardErrorPath</key>
    <string>{{.LogPath | xmlEscape}}</string>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
